<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="member">

	<resultMap type="LC_003_1_VO" id="lc_getResult">
		<result property="lc_index" column="lc_index" />
		<result property="m_index" column="m_index" />
		<result property="lc_title" column="lc_title" />
		<result property="lc_type" column="lc_type" />
		<result property="lc_distance" column="lc_distance" />
		<result property="lc_run" column="lc_run" />
		<result property="lc_cycle" column="lc_cycle" />
		<result property="lc_area1" column="lc_area1" />
		<result property="lc_area2" column="lc_area2" />
		<result property="lc_area3" column="lc_area3" />
		<result property="lc_text" column="lc_text" jdbcType="CLOB"
			javaType="java.lang.String" />
		<result property="lc_date" column="lc_date" />
		<result property="lc_good" column="lc_good" />
		<result property="lc_see" column="lc_see" />
		<result property="lc_record" column="lc_record" />
		<result property="lc_address" column="lc_address" />
		<result property="lc_xy_arr" column="lc_xy_arr" jdbcType="CLOB"
			javaType="java.lang.String" />
	</resultMap>




	<select id="getMCList" resultType="vs.mp.mp_001.vo.MP_001_3_VO">
		<![CDATA[
			select a.lc_index, a.m_index, lc_title, lc_type, lc_distance, lc_run, lc_cycle,
						 lc_area1, lc_area2, lc_area3, lc_thumbnail, lc_text, lc_date, 
						 lc_good, lc_see, lc_record, rownum rn, lc_address, lc_xy_arr
			from
				(
					select 
						mycourse.lc_index, mycourse.m_index, lc_title, lc_type, lc_distance, 
						lc_run, lc_cycle, lc_area1, lc_area2, lc_area3, lc_thumbnail, 
						lc_text, lc_date, lc_good, lc_see, lc_record, lc_address, lc_xy_arr
					from
						course, map, mycourse
					where
						mycourse.lc_index = course.lc_index 
					and
						mycourse.lc_index = map.lc_index 
					and
		]]>

		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'normal'.toString()">
							lc_title like '%'||#{keyword}||'%') or (m_index
							like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'area'.toString()">
							lc_area1 like '%'||#{keyword}||'%') or (lc_area2
							like
							'%'||#{keyword}||'%') or
							(lc_area3 like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
			
		<![CDATA[
					rownum <= #{page} * #{amount}
				) a, member b
				where rownum > (#{page} -1) * #{amount}
				and a.m_index = b.m_index
				
		]]>
		<include refid="type_match"></include>
	</select>


	<insert id="get_member"
		parameterType="vs.ms.ms_001.vo.MS_001_VO">
		<![CDATA[
			INSERT INTO member VALUES (
			(select count(*) from member)+1,
			#{m_id},
			#{m_pw1},
			#{m_name},
			#{m_gender},
			#{m_birth},
			#{m_email_1},
			#{m_tel},
			#{m_address},
			#{m_picture},
			#{m_nickName},
			'1',
			0,
			0
		)
		]]>
	</insert>

	<select id="login" parameterType="vs.lo.lo_001.vo.LO_001_VO"
		resultType="java.lang.Integer">
		<![CDATA[
			SELECT COUNT(*) FROM member 
			WHERE 
			M_ID = #{m_id}
			AND
			M_PW_1 = #{m_pw}
		]]>
	</select>

	<select id="getList" parameterType="vs.lo.lo_001.vo.LO_001_VO"
		resultType="vs.lo.lo_001.vo.LO_001_VO">
		<![CDATA[
			SELECT 
			M_INDEX as m_index,
			M_ID as m_id,
			M_PW_1 as m_pw,
			M_NAME as m_name,
			M_GENDER as m_gender,
			M_BIRTH as m_birth,
			M_EMAIL as m_email_1,
			M_TEL as m_tel, 
			M_ADDRESS as m_address, 
			
			M_NICKNAME as m_nickName,
			M_STATE as m_state,
			M_COUNT as m_count,
			M_POINT as m_point
			FROM member
			WHERE 
			M_ID = #{m_id}
			AND
			M_PW_1 = #{m_pw}
		]]>
	</select>

	<select id="mc_paging_total" resultType="int">
		<![CDATA[
		select count(*) 
		from course a, member b
		where a.m_index = #{m_index}
		]]>
	</select>
	
	
	<select id="getMyCourse" resultType="vs.mp.mp_001.vo.MP_001_3_VO">
		<![CDATA[
		select mp_index, lc_index, m_index
		from mycourse
		where m_index = #{m_index}
		and lc_index = #{lc_index}
		]]>
	</select>
	
	
	

	<sql id="type_match">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<trim prefix="OR">
				<choose>
					<when test="lc_type == '육상'">
						lc_type like '%'||#{lc_type}||'%'
					</when>
					<when test="lc_type == '자전거'">
						lc_type like '%'||#{lc_type}||'%'
					</when>
				</choose>
			</trim>
		</trim>
	</sql>


</mapper>


  
  