<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="member">

	<resultMap type="LC_003_1_VO" id="lc_getResult">
		<result property="lc_index" column="lc_index" />
		<result property="m_index" column="m_index" />
		<result property="lc_title" column="lc_title" />
		<result property="lc_type" column="lc_type" />
		<result property="lc_distance" column="lc_distance" />
		<result property="lc_run" column="lc_run" />
		<result property="lc_cycle" column="lc_cycle" />
		<result property="lc_area1" column="lc_area1" />
		<result property="lc_area2" column="lc_area2" />
		<result property="lc_area3" column="lc_area3" />
		<result property="lc_text" column="lc_text" jdbcType="CLOB"
			javaType="java.lang.String" />
		<result property="lc_date" column="lc_date" />
		<result property="lc_good" column="lc_good" />
		<result property="lc_see" column="lc_see" />
		<result property="lc_record" column="lc_record" />
		<result property="lc_address" column="lc_address" />
		<result property="lc_xy_arr" column="lc_xy_arr" jdbcType="CLOB"
			javaType="java.lang.String" />
	</resultMap>
	
	<resultMap id="clobThumbnail" type="java.util.HashMap">
		<result property="m_picture" column="m_picture" javaType="[B" jdbcType="BLOB"  />
	</resultMap>
	
	<resultMap id="request_thumbnail" type="vs.lo.lo_001.vo.LO_001_VO">
		<result property="m_index" column="m_index" />
		<result property="m_id" column="m_id" />
		<result property="m_pw" column="m_pw_1" />
		<result property="m_name" column="m_name" />
		<result property="m_gender" column="m_gender" />
		<result property="m_birth" column="m_birth" />
		<result property="m_email_1" column="m_email" />
		<result property="m_tel" column="m_tel" />
		<result property="m_address" column="m_address" />
		<result property="request_thumbnail" column="m_picture" />
		<result property="m_nickName" column="m_nickName" />
		<result property="m_state" column="m_state" />
		<result property="m_count" column="m_count" />
		<result property="m_point" column="m_point" />
	</resultMap>
	
	<resultMap type="vs.ac.ac_001_1.vo.AcVO" id="requestVO">
	<result property="m_index" column="m_index"/>
	<result property="co_b_index" column="co_b_index"/>
	<result property="co_b_title" column="co_b_title"/>
	<result property="co_b_text" column="co_b_text"/>
	<result property="co_b_day" column="co_b_day"/>
	<result property="co_b_see" column="co_b_see"/>
	<result property="co_b_good" column="co_b_good"/>
	<result property="co_b_date" column="co_b_date"/>
	<result property="co_b_area" column="co_b_area"/>
	<result property="co_b_start" column="co_b_start"/>
	<result property="co_b_state" column="co_b_state"/>
	<result property="co_b_type" column="co_b_type"/>
	<result property="co_b_price" column="co_b_price"/>
	<result property="co_souvenir" column="co_souvenir"/>
	<result property="co_rating" column="co_rating"/>
	<result property="co_thumbnail" column="co_b_thumbnail"/>
	<result property="co_b_end" column="co_b_end"/>
</resultMap>




	<select id="getMCList" resultType="vs.mp.mp_001.vo.MP_001_3_VO">
		<![CDATA[
			select 
				rownum rn,
                mp_index, lc_index, m_index,  lc_title, lc_type, 
                case 
                  when trunc(lc_distance,1)=0
                  then round(lc_distance,3)*1000||'m'
                  when trunc(lc_distance,0)>0
                  then round(lc_distance,1)||'km'
                  when trunc(lc_distance,0)=0
                  then '0'||round(lc_distance,1)||'km'
                  end as lc_distance,
				lc_run, lc_cycle, lc_area1, lc_area2, lc_area3, lc_thumbnail, 
				lc_text, lc_date, lc_good, lc_see, lc_record,
				lc_address, lc_xy_arr
                    from (
                    select rownum rn, mycourse.mp_index,mycourse.lc_index, 
                    	mycourse.m_index,  course.lc_title, course.lc_type, 
                    	course.lc_distance, 
						course.lc_run, course.lc_cycle, course.lc_area1, 
						course.lc_area2, course.lc_area3, 
						course.lc_thumbnail, 
						course.lc_text, course.lc_date, 
                        course.lc_good, 
                        course.lc_see, 
                        course.lc_record,
                        map.lc_address,
                        map.lc_xy_arr
                    from mycourse, course, map
                        where mycourse.lc_index = course.lc_index
                        and mycourse.lc_index = map.lc_index
                        and mycourse.m_index = #{m_index}
                        and rownum <= (#{page} * #{amount}))
                        where rn > ((#{page}-1) * #{amount})
				
		]]>
		<include refid="type_match"></include>
	</select>
	
		<select id="get_m_index" resultType="int">
			<![CDATA[ 
				SELECT 
						 MEMBER_SEQ.currval 
				FROM 
				        dual
					
			]]>	
		</select>
	
	
	<insert id="regist_member" parameterType="vs.ms.ms_001.vo.MS_001_VO">
	
		<![CDATA[
			INSERT INTO member 
			(m_index,
			m_id,
			m_pw_1,
			m_name,
			m_gender,
			m_birth,
			m_email,
			m_tel,
			m_address,
			m_nickname)
			
			
			VALUES (
			MEMBER_SEQ.NEXTVAL,
			#{m_id},
			#{m_pw1},
			#{m_name},
			#{m_gender},
			#{m_birth},
			#{m_email_1},
			#{m_tel},
			#{m_address},
			#{m_nickName}
		)
		]]>
	</insert>
	
	<!-- 썸네일 업로드 -->
	<update id="set_member_thumbnail" parameterType="java.util.Map">
		  
		
		<![CDATA[ 
			update member
			set m_picture = #{m_picture}
			where m_index = #{m_index}
		]]>	
	</update>
	
	<select id="idCheck" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		<![CDATA[
			SELECT COUNT(*)
			FROM member
			WHERE
			M_ID = #{data}
		]]>
	</select>
	
	<select id="nickCheck" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		<![CDATA[
			SELECT COUNT(*)
			FROM member
			WHERE
			M_NICKNAME = #{data}
		]]>
	</select>

	<select id="login" parameterType="vs.lo.lo_001.vo.LO_001_VO"
		resultType="java.lang.Integer">
		<![CDATA[
			SELECT COUNT(*) FROM member 
			WHERE 
			M_ID = #{m_id}
			AND
			M_PW_1 = #{m_pw}
		]]>
	</select>
	

	<select id="getMemberList" resultMap="request_thumbnail">
		<![CDATA[
			SELECT 
			*
			FROM member
			WHERE 
			M_ID = #{m_id}
			AND
			M_PW_1 = #{m_pw}
		]]>
	</select>

	<select id="mc_paging_total" resultType="int">
		<![CDATA[
	        select 
				count(*)		
			from mycourse, course, map
				where mycourse.lc_index = course.lc_index
				and mycourse.lc_index = map.lc_index
				and mycourse.m_index = #{m_index}
		]]>
	</select>
	
	<!-- 나의기록 페이징 : 토탈 수 -->
	<select id="pagingDownPage" resultType="int">
		<![CDATA[
			select
				count(*)
			from
				mycourse, myrecord
				where mycourse.mp_index = myrecord.mp_index
				and mycourse.m_index = #{m_index}
				and mycourse.lc_index = #{lc_index}
		]]>
	</select>
	
	
	
	<!-- 
	<select id="getMyCourse" resultType="vs.mp.mp_001.vo.MP_001_3_VO">
		<![CDATA[
		select mp_index, lc_index, m_index
		from mycourse
		where m_index = #{m_index}
		and lc_index = #{lc_index}
		]]>
	</select>
	 -->
	 
		<select id="getMyCourseDetail" resultType="java.util.Map">
		<![CDATA[
			select
				rownum rn,
				pr_index,
				mycourse.mp_index,
				pr_title,
				pr_text,
				pr_see,
				pr_good,
				pr_resistDate,
				pr_recordDate,
				pr_record,
				pr_thumbnail,
				pr_type,
				pr_public
			from
				mycourse, myrecord
				where mycourse.mp_index = myrecord.mp_index
				and mycourse.m_index = #{m_index}
				and mycourse.lc_index = #{lc_index}
		]]>
	</select>
	
	
	

	<sql id="type_match">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<trim prefix="OR">
				<choose>
					<when test="lc_type == '육상'">
						lc_type like '%'||#{lc_type}||'%'
					</when>
					<when test="lc_type == '자전거'">
						lc_type like '%'||#{lc_type}||'%'
					</when>
				</choose>
			</trim>
		</trim>
	</sql>
	
	<update id="memberUpdate"
		parameterType="vs.ms.ms_001.vo.MS_001_VO">
		<![CDATA[
			update member
			set
			m_pw_1 = #{m_pw1},
			m_name = #{m_name},
			m_email = #{m_email_1},
			m_tel = #{m_tel},
			m_address = #{m_address},
			m_nickname = #{m_nickName}
			
			where m_index = #{m_index}
			
		]]>
	</update>
	
		<!-- 썸네일 업데이트 -->
	<update id="update_member_thumbnail" parameterType="java.util.Map">
		  
		<![CDATA[ 
			update member
			set m_picture = #{m_picture}
			where m_index = #{m_index}
		]]>	
	</update>
	
	<select id="compeptition_myList" resultMap="requestVO" parameterType="vs.ac.ac_001_1.vo.AcVO">		
		<![CDATA[ 
		select rownum rn, co_b_index, co_b_title, co_b_see, co_b_good, co_b_date, co_b_day, co_b_area, co_b_state,
				co_b_start, co_b_end, co_b_type, co_b_text, co_b_price, co_souvenir, co_rating, co_b_thumbnail,co_b_count
	 		from(
		        select competition.co_b_index, co_b_title, co_b_see, co_b_good, co_b_date, co_b_day, co_b_area, co_b_state, 
						co_b_start, co_b_end, co_b_type, co_b_text, co_b_price, co_souvenir, 
						co_rating, co_b_thumbnail, competition.co_b_count as co_b_count
		        from competition,  participant
		        where 
			    	competition.co_b_index = participant.co_b_index
			    and rownum <= (#{page} * #{amount})
				and participant.m_index = #{m_index}
			    order by to_number(substr(co_b_index, 4)) desc
				)
		where rownum > ((#{page}-1) * #{amount})
	]]>
	</select>
	
		<select id="competition_paging" resultType="int">		
		<![CDATA[ 
		select count(*)
	 		from
		        (select competition.co_b_index, co_b_title, co_b_see, co_b_good, co_b_date, co_b_day, co_b_area, co_b_state, 
						co_b_start, co_b_end, co_b_type, co_b_text, co_b_price, co_souvenir, 
						co_rating, co_b_thumbnail, competition.co_b_count as co_b_count
		        from competition,  participant
		        where 
			    	competition.co_b_index = participant.co_b_index
				and participant.m_index = #{m_index})
	]]>
	</select>
	
	
	
	<select id="getAllMyPost" resultType="java.util.Map">
	<![CDATA[
        select 
        	rn, tablename, title, good, see, registdate, m_index, t_index
	        from
	        	(select rownum rn, tablename, title, good, see, registdate, m_index, t_index
		        from
			        (
			        select tablename, title, good, see, registdate, m_index, t_index
				        from
				        (
					        select 
					        	'코스게시판' tablename, lc_title as title, lc_good as good, lc_see as see, 
					        	lc_date as registdate, m_index, lc_index as t_index
					        from 
					        	course
					        
					        union all
					        
					        select 
						        '장비TIP' tablename, li_title as title, li_good as good, li_see as see, 
						        li_date as registdate, m_index, li_index as t_index
					        from item
					        
					        union all
					        
					        select 
						        '기록게시판' tablename, pr_title as title, pr_good as good, pr_see as see, 
						        pr_resistdate as registdate, m_index, pr_index as t_index
					        from myrecord
					        where pr_public = '1'
					        
					        union all
					        
					        select 
						        '대회리뷰게시판' tablename, co_r_title as title, co_r_good as good, 
						        co_r_see as see, co_r_day as registdate, m_index, co_r_index as t_index
					        from competition_review
					        
					        union all
				        
					        select 
						        '트레이닝TIP' tablename,lt_title as title, lt_good as good, lt_see as see, 
						        lt_date as registdate, m_index, lt_index as t_index
					        from trainning
				        )
		        
			        order by registdate desc
			        )
	        where rownum <= (#{page} * #{amount})
	        and m_index = #{m_index})
        where rn > ((#{page}-1) * #{amount})
	
	]]>
	</select>

	<select id="post_paging" resultType="int">
		<![CDATA[ 
			select count(*)
		        from
		        (
			        select m_index
			        from course
			        union all
			        select m_index
			        from item
			        union all
			        select m_index
			        from myrecord
			        where pr_public = '1'
			        union all
			        select m_index
			        from competition_review
			        union all
			        select m_index
			        from trainning
		        )
       	 	where m_index = #{m_index}
		]]>	
	</select>
	
	
		<select id="replys_paging" resultType="int">
		<![CDATA[ 
			select
			    count(*)
			from 
			    board_com,
			    (
				select 
				     m_index, lc_index as t_index
				    from 
				        course
				    
				    union all
				    
				    select 
				        m_index, li_index as t_index
				    from item
				    
				    union all
				    
				    select 
				        m_index, pr_index as t_index
				    from myrecord
				    where pr_public = '1'
				    
				    union all
				    
				    select 
				       m_index, co_r_index as t_index
				    from competition_review
				    
				    union all
				
				    select 
				       m_index, lt_index as t_index
				    from trainning
				    
				    union all
				    select 
				       m_index, co_b_index as t_index 
				    from competition
			    ) b, member
		    where board_com.BOARD_INDEX = b.T_INDEX
		    and board_com.m_index = member.m_index
		    and b.m_index = #{m_index}
		    
		]]>	
	</select>
	
	<select id="myReplys" resultType="java.util.Map">
	<![CDATA[
		select
		    COM_INDEX, T_INDEX, write_m_index, 
		    reply_nick, tablename, title, 
		    COM_TEXT, COM_INDEX1,  COM_DATE, rownum rn
		from
			(
			select
			    COM_INDEX, BOARD_INDEX as T_INDEX, b.M_INDEX as write_m_index, 
			    member.m_nickname as reply_nick, tablename, title, 
			    COM_TEXT, COM_INDEX1,  COM_DATE, rownum rn
			from 
			    board_com,
			    (
				select 
				    '코스게시판' tablename, lc_title as title, lc_good as good, lc_see as see, 
				    lc_date as registdate, m_index, lc_index as t_index
				    from 
				        course
				    
				    union all
				    
				    select 
				        '장비TIP' tablename, li_title as title, li_good as good, li_see as see, 
				        li_date as registdate, m_index, li_index as t_index
				    from item
				    
				    union all
				    
				    select 
				        '기록게시판' tablename, pr_title as title, pr_good as good, pr_see as see, 
				        pr_resistdate as registdate, m_index, pr_index as t_index
				    from myrecord
				    where pr_public = '1'
				    
				    union all
				    
				    select 
				        '대회리뷰게시판' tablename, co_r_title as title, co_r_good as good, 
				        co_r_see as see, co_r_day as registdate, m_index, co_r_index as t_index
				    from competition_review
				    
				    union all
				
				    select 
				        '트레이닝TIP' tablename, lt_title as title, lt_good as good, lt_see as see, 
				        lt_date as registdate, m_index, lt_index as t_index
				    from trainning
				    
				    union all
				    select 
				        '대회게시판' tablename, co_b_title as title, co_b_good as good, 
				        co_b_see as see, co_b_day as registdate, m_index, co_b_index as t_index 
				    from competition
			    ) b, member
		    where board_com.BOARD_INDEX = b.T_INDEX
		    and board_com.m_index = member.m_index
		    and b.m_index = #{m_index}
		    and rownum <= ( #{page} * #{amount} ))
	    where rn > ((#{page}-1) * #{amount})
	]]>
	</select>
	    
	
	

</mapper>


  
  