<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="good">


	<!-- 조회수  증가 쿼리 -->
	<update id="board_see">
		<![CDATA[
        	UPDATE item  SET li_see = NVL(li_see,0)+1 where li_index = TRIM(#{index})
    	]]>
    </update>
 
 <!-- 추천수 증가 쿼리 -->
 	<update id="like_check" parameterType="HashMap">
	 	<![CDATA[
		    UPDATE good_check
		    SET good_check = good_check + 1 
		    WHERE m_index=#{m_index} AND board_index=#{board_index}
		]]>
	</update>
	
	<!-- 추천수 감소 쿼리 -->
	  <update id="like_check_cancel" parameterType="HashMap">
	  <![CDATA[
		    UPDATE good_check
		    SET good_check = 0
		    WHERE m_index=#{m_index} AND board_index=#{board_index}
    	]]>
  	</update>
  	
  	<!-- good_check불러오기 -->
  	<select id="check" resultType="int" parameterType="HashMap">
  	 <![CDATA[
  	 	SELECT good_check
  	 	FROM good_check
  	 	WHERE m_index = #{m_index} AND board_index = #{board_index}
  	 ]]>
  	</select>
	

</mapper>