<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="shop.SaDAOImpl">
	<insert id="saleInsert" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO sales VALUES (
			#{prod_id}||TO_CHAR(SYSDATE,'YYMMDD')||'D'||#{sale_code_sub},
			#{prod_id},
			#{sale_price},
			#{sale_quantity},
			#{sale_name},
			#{sale_name_sub},
			#{sale_code_sub},
			TO_CHAR(SYSDATE,'YYMMDD'),
			#{sale_view},
			#{sale_thumbmail},
			#{sale_pointRate},
			#{sale_detail}
		)
		]]>
	</insert>

	<select id="paging_total" resultType="int">
		<![CDATA[
		select count(*) from products
		where SP_PROD_ID like '%'||#{input_text}||'%'
		]]>
	</select>

	<!--  
	<resultMap type="map" id="selectProductsList">
		<result column="SP_PROD_ID" property="prod_id" />
		<result column="SP_VEND_ID" property="vend_id" />
		<result column="SP_PROD_COST" property="prod_cost" />
		<result column="SP_PROD_PRICE_NORMAL" property="prod_price" />
		<result column="SP_CATE_ID" property="cate_id" />
		<result column="SP_PROD_DATE" property="prod_date" />
	</resultMap>
 	-->
 	
	<select id="searchProducts" parameterType="java.util.Map" 
		resultType="java.util.Map">
		<![CDATA[
			 select *
	 from(
		select rownum rn, a.*
		from
		        (
			        select *
			        from products
			        where SP_PROD_ID like '%'||#{input_text}||'%'
			        )a
		where rownum <= (#{page} * #{amount})
		)
	where rn > ((#{page}-1) * #{amount})
		
		]]>
	</select>


	<!-- 리스트 페이징해서 출력하는 쿼리 -->
	<select id="get_list" parameterType="java.util.Map"
		resultType="java.util.Map">

		<!-- CDATA 범위안에 태그처리를 막아줌 -->
		<![CDATA[ 
	 select *
	 from(
		select rownum rn, a.*
		from
		        (
			        select *
			        from products
			        )a
		where rownum <= (#{page} * #{amount})
		)
	where rn > ((#{page}-1) * #{amount})
]]>
	</select>


</mapper>


  
  