<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lc">

	<!-- <resultMap type="LC_001_1_VO" id="lc_001Result">
		<result property="lc_index" column="lc_index"/>
		<result property="m_index" column="m_index"/>
		<result property="lc_title" column="lc_title"/>
		<result property="lc_type" column="lc_type"/>
		<result property="lc_distance" column="lc_distance"/>
		<result property="lc_run" column="lc_run"/>
		<result property="lc_cycle" column="lc_cycle"/>
		<result property="lc_area1" column="lc_area1"/>
		<result property="lc_area2" column="lc_area2"/>
		<result property="lc_area3" column="lc_area3"/>
		<result property="lc_thumbnail" column="lc_thumbnail"/>
		<result property="lc_text" column="lc_text"/>
		<result property="lc_date" column="lc_date"/>
		<result property="lc_good" column="lc_good"/>
		<result property="lc_see" column="lc_see"/>
		<result property="lc_record" column="lc_record"/>
		<result property="lc_address" column="lc_address"/>
		<result property="lc_xy_arr" column="lc_xy_arr"/>
	</resultMap> -->

	<insert id="lc_001_01">
		<![CDATA[   
		insert into course
		values('lc_'||seq_course.nextval, #{m_index}, #{lc_title}, #{lc_type}, #{lc_distance}, #{lc_run},
			#{lc_cycle}, #{lc_area1}, #{lc_area2}, #{lc_area3}, UTL_RAW.CAST_TO_RAW(#{lc_thumbnail}), #{lc_text},
			sysdate, 0, 0, 0)
			]]>
	</insert>
	
	<insert id="lc_001_01_map">
		<selectKey keyProperty="lc_index" order="BEFORE" resultType="String">
		<![CDATA[ 
			select max(lc_index) from course
		]]>	
		</selectKey>
		
		insert into map values(
			#{lc_index}, #{lc_address}, #{lc_xy_arr})
	</insert>
	
	<select id="LC_002_01" resultType="vs.lc.lc_002_1.vo.LC_002_1_VO">
		<![CDATA[
			select * from course where lc_index like 'lc_%'
		]]>	
	</select>
	
</mapper>